extends layout

block content
	.container.text-center
		h1 Thank you for participating in our experiment. See below for your MTurk code.
		h2.mturk_code= userId

	.container.thank_you
		h2 Thank you and reminder to collect compensation,
		br
		br
		p Dear Participant,
		br
		p We wish to sincerely thank you for your participation in this study. The experience, knowledge, feedback and data you provided throughout this session are all that was necessary for this research study. 
		p As a reminder, your Amazon Mechanical Turk code is at the top of this page. We encourage you to copy this code for safekeeping if you do not intend on redeeming compensation at this time. If you do plan on redeeming your compensation now, we strongly encourage you to do so before moving on to your next Human Intelligence Task (HIT).
		p Please note that all collected data will be securely stored and protected. Please feel free to contact us if you have any questions.
		br
		p Once again, your participation is highly appreciated.
		br
		p Sincerely,

		.signature
			table
				tbody
					tr
						td
							p Miguel Vargas Martin
							p Faculty (PI)
							a(href="mailto:Miguel.VargasMartin@uoit.ca") Miguel.VargasMartin@uoit.ca
						td
							p Amit Maraj
							p Graduate Student
							a(href="mailto:amit.maraj@uoit.ca") Amit.Maraj@uoit.ca
					tr
						td
							p Ruba AlOmari
							p Graduate Student
							a(href="mailto:Ruba.Alomari@uoit.ca") Ruba.Alomari@uoit.ca
						td
							p Shane MacDonald
							p Student
							a(href="mailto:Shane.Macdoanld@uoit.net") Shane.Macdonald2@uoit.net

		p This study has been approved by the UOIT Research Ethics Board REB \#14473 on August 17, 2017.