extends layout

block content

	//- this script is to send all the passwords and their properties to the js file for further processing
	script.
		var passwordsFromServer = !{JSON.stringify(passwords)}
	#test-container
		.container(style="margin-top:50px")
			#password-test-content(style="display:none;")
				#password-selection-test
					h4.underline <strong>Scenario:</strong>
					br
					.container.text-center
						h3 Imagine your main <strong>email service provider has been attacked</strong> and that because of the attack, your email service provider is requesting all users change their password. <strong><i>This is your main email account and contains very sensitive information.</strong></i> Please create a password below.
					#passwords-selection-2.text-center
						#create-password-test-2
							input.password-input(placeholder="Type password here")
				#question
			#button-container
				button#next.btn.btn-success(type="button" style="display:none;") Next >
			//- #results(style="display:none;")
			.button-row
				div
					a#btnClick(title=title)

	.loader-container(style="display:none;")
		.loader