extends layout

block content

	//- this script is to send all the passwords and their properties to the js file for further processing
	script.
		var passwordsFromServer = !{JSON.stringify(passwords)}
		var strengths = [{"strength": 'very weak', "color": 'red'}, 
					{"strength": 'weak', "color": 'pink'}, 
					{"strength": 'moderate', "color": 'orange'}, 
					{"strength": 'strong', "color": 'orange'}, 
					{"strength": 'very strong', "color": 'green'}]
	#test-container
		.container(style="margin-top:50px")
			#prompt-content.container.text-center
				h3 Drag and drop the following passwords into the containers to the right ranking them from least secure to most secure.
			#password-test-content(style="display:none;")
				#passwords-ranking.text-center.container
					#password-list
						each password in passwords
							.password.no-text-cursor= password.password
				#password-containers
					each password in passwords
						.password-container
				#strength-containers.text-center
					- var strengths = [{"strength": 'very weak', "color": '#ff0000'}, {"strength": 'weak', "color": '#ff7b92'}, {"strength": 'moderate', "color": '#ffa500'}, {"strength": 'strong', "color": '#d6ff39'}, {"strength": 'very strong', "color": '#00ff00'}]
					each strength in strengths
						.strength-container
							h3.no-text-cursor(style="color:"+strength.color+";")= strength.strength
				#question
			#button-container
				button#next.btn.btn-success(type="button" style="display:none;") Next >
			//- #results(style="display:none;")
			.button-row
				div
					a#btnClick(title=title)

	.loader-container(style="display:none;")
		.loader

