extends layout

block content

	//- this script is to send all the passwords and their properties to the js file for further processing
	script.
		var passwordsFromServer = !{JSON.stringify(passwords)}
	.container.main-container
		#password-test-content(style="display:none;")
			#password-selection-test
				.container.text-center
					h3 Imagine your bank account got hacked and you need to select a new password that you'll be able to remember and provide a good amount of security. Select one of the following for your bank account.
				#passwords-selection.text-center
					#password-list
						each password in passwords
							.password.no-text-cursor= password.password
			#question
		#button-container
			button#next.btn.btn-success(type="button" style="display:none;") Next >
		//- #results(style="display:none;")
		.button-row
			div
				a#btnClick(title=title)

