extends layout

block content

	//- this script is to send all the passwords and their properties to the js file for further processing
	script.
		var passwordsFromServer = !{JSON.stringify(passwords)}
	#test-container
		.container(style="margin-top:50px")
			#password-test-content(style="display:none;")
				#password-selection-test
					h4.underline <strong>Scenario:</strong>
					br
					.container.text-center
						h3 Imagine there was a breach within your <strong>main banking provider's</strong> online banking platform and because of this, your bank has released a notice that says all accounts may have been <strong><i>compromised</i></strong>. Your bank strongly recommends a password change for all accounts. Please select a new password below.
					#passwords-selection.text-center
						#password-list
							each password in passwords
								.password.no-text-cursor= password.password
				#question
			#button-container
				button#next.btn.btn-success(type="button" style="display:none;") Next >
			//- #results(style="display:none;")
			.button-row
				div
					a#btnClick(title=title)
					
	.loader-container(style="display:none;")
		.loader

