extends layout

block content

	//- this script is to send all the passwords and their properties to the js file for further processing
	script.
		var passwordsFromServer = !{JSON.stringify(passwords)}
	#test-container
		.container(style="margin-top:50px")
			#password-test-content(style="display:none;")
				#password-selection-test
					.container.text-center
						h3 Consider a breach within your banking provider and the bank has released a notice that says all accounts may have been compromised. Knowing this, please select OR create a new password for your bank account.
						h5 Note: You can only either select OR create a password - not both.
					#passwords-selection-2.text-center
						ul.nav.nav-pills.nav-justified
							li
								a(data-toggle='pill', href='#create-password-test-2') Create Password
							li
								a(data-toggle='pill', href='#select-password-test-2') Select Password
						.tab-content
							#create-password-test-2.tab-pane.fade
								input.password-input(placeholder="Type password here")
							#select-password-test-2.tab-pane.fade
								#password-list
									each password in passwords
										.password.no-text-cursor= password.password
				#question
			#button-container
				button#next.btn.btn-success(type="button" style="display:none;") Next >
			//- #results(style="display:none;")
			.button-row
				div
					a#btnClick(title=title)

	.loader-container(style="display:none;")
		.loader

