extends layout

block content

	//- this script is to send all the passwords and their properties to the js file for further processing
	script.
		var passwordsFromServer = !{JSON.stringify(passwords)}
	.container.main-container
		#password-test-content(style="display:none;")
			#passwords.text-center
				ul#password-list
					each password in passwords
						li.password.no-text-cursor(class=password.score)= password.password
			#password-containers
				each password in passwords
					div
						ul
			#question
		#button-container
			button#next.btn.btn-success(type="button" style="display:none;") Next >
		//- #results(style="display:none;")
		.button-row
			div
				a#btnClick(title=title)

