extends layout

block content

	//- this script is to send all the passwords and their properties to the js file for further processing
	script.
		var passwordsFromServer = !{JSON.stringify(passwords)}
	#test-container
		.container(style="margin-top:50px")
			#password-test-content(style="display:none;")
				#password-selection-test
					.container.text-center
						h3 Imagine your email account has been compromised and you must select a new password. This is your main email account and contains very sensitive information. Which of the following passwords would you choose?
					#passwords-selection-2.text-center
						#create-password-test-2
							input.password-input(placeholder="Type password here")
				#question
			#button-container
				button#next.btn.btn-success(type="button" style="display:none;") Next >
			//- #results(style="display:none;")
			.button-row
				div
					a#btnClick(title=title)

	.loader-container(style="display:none;")
		.loader