body{
    background-color: #fff;
}
.myTable{
    border-width: 5px;
    border-color: black;
    margin: 0 auto;

}

#btnClick { 
    font-size: 20px;
}

.myTd{
    padding: 15px !important;
    text-align: left;
    font-size: 32pt;
}

tr:nth-child(even) {background-color: #f2f2f2}

.main-container {
    height: 100vh;
}

.btn-success {
    border-radius: 0;
    background-color: #2ecc71;
    border: 0;
    padding: 1em 2em;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

.btn-success:hover {
    background-color: #27ae60;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

.right {
    float: right;
}


/*QUESTIONNAIRE*/

#questionnaire {
    margin-top: 5%;
    font-size: 14.5px;
    font-family: "Times New Roman", Times, serif;
    background-color: #eee;
    padding: 2em;
    border-radius: 5px;
    margin-bottom: 10%;
}

#questionnaire .form-check,
#questionnaire .form-control {
    margin-left: 15px;
}

#questionnaire .form-group {
    margin-bottom: 30px;
}

#questionnaire h4 {
    margin-bottom: 15px;
}

#questionnaire input[type=radio] {
    margin-right: 7px;
}


/*PERSONALITY TEST*/

#test-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#personality-test-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#password-test-content {
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#results {
    /*height: 100%;*/
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;                
}

.questionRow {
    display:flex;
    justify-content:center;
    padding: 50px 0;
}

.answerRow {
    display:flex;
    justify-content:center;
}

.answerRow > div {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: solid 6px transparent;
    /*box-shadow: 0px 10px 15px #555;*/
    transition: border 0.3s ease-in-out;
}

.answerRow > div:hover {
    border-color: #2ecc71;
    /* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ <--- read this for performance increase */
    /*box-shadow: 0px 0px 0px #555;*/
}

#question {
    z-index: 999;
}

.no-text-cursor {
    cursor: default;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#passwords-ranking {
    height: 500px;
    width: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#passwords-ranking .password-list {
    padding: 0;
}
.password {
    list-style-type: none;
    font-size: 15px;
    padding: 15px;
    background: #eee;
    margin: 10px;
    border: solid 6px transparent;
    transition: border 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

.password:hover {
    /*border-color: #00ff00;*/
    box-shadow: 0px 5px 15px #999;
    transition: box-shadow 0.3s ease-in-out;
}

#password-containers .password-container,
#strength-containers .strength-container {
    height: 75px;
    width: 200px;
    margin: 10px;
    padding: 0;
}

#strength-containers .strength-container { border: 0px solid #eee; display: flex; align-items: center;}
#password-containers .password-container { border: 1px solid #eee; }

.password-container-highlight {
    background: #27ae60;
}
.password-container-disabled {
    background: red;
}
.password-drag {
    opacity: 0.7;
}

#button-container{
    position: fixed;
    z-index: 10;
    bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 0;
    padding-right: 50px;
}

.password-selected {
    transition: border 0.3s ease-in-out;
    border: solid 4px #2ecc71;
}

#password-selection-test {
    display: block;
}

#passwords-selection {    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

#passwords-selection-2 {    
    /*display: flex;*/
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

#create-password-test-2,
#select-password-test-2 {
    margin-top: 50px;
    /*display: flex;*/
    justify-content: center;
}

.password-input {
    height: 50px;
    width: 300px;
    padding: 15px;
    font-size: 17px;
    /*margin: 50px;*/
}


/*THANK YOU*/

.thank_you { 
    margin-top: 15%;
    font-size: 14.5px;
    font-family: "Times New Roman", Times, serif;
    background-color: #eee;
    padding: 2em;
    border-radius: 5px;
    margin-bottom: 10%;
}

.thank_you p {
    margin: 0 0 15px;
    font-family: "Times New Roman", Times, serif;
}

.thank_you .signature {
    margin: 0 0 20px;
}
.thank_you .signature p {
    margin: 0;
}


/*LOADER*/
.loader-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
