body{
    background-color: #ddd;
}
.myTable{
    border-width: 5px;
    border-color: black;
    margin: 0 auto;

}

.myTd{
    padding: 15px !important;
    text-align: left;
    font-size: 32pt;
}

tr:nth-child(even) {background-color: #f2f2f2}

#content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#results {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;                
}

.questionRow {
    display:flex;
    justify-content:center;
    padding: 50px 0;
}

.answerRow {
    display:flex;
    justify-content:center;
}

.answerRow > div {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: solid 6px transparent;
    /*box-shadow: 0px 10px 15px #555;*/
    transition: border 0.3s ease-in-out;
}

.answerRow > div:hover {
    border-color: green;
    /* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ <--- read this for performance increase */
    /*box-shadow: 0px 0px 0px #555;*/
}

#question {
    z-index: 999;
}