body{
    background-color: #ddd;
}
.myTable{
    border-width: 5px;
    border-color: black;
    margin: 0 auto;

}

.myTd{
    padding: 15px !important;
    text-align: left;
    font-size: 32pt;
}

tr:nth-child(even) {background-color: #f2f2f2}

.main-container {
    height: 100vh;
}

#personality-test-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#password-test-content {
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#results {
    /*height: 100%;*/
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;                
}

.questionRow {
    display:flex;
    justify-content:center;
    padding: 50px 0;
}

.answerRow {
    display:flex;
    justify-content:center;
}

.answerRow > div {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: solid 6px transparent;
    /*box-shadow: 0px 10px 15px #555;*/
    transition: border 0.3s ease-in-out;
}

.answerRow > div:hover {
    border-color: green;
    /* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ <--- read this for performance increase */
    /*box-shadow: 0px 0px 0px #555;*/
}

#question {
    z-index: 999;
}

.no-text-cursor {
    cursor: default;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#passwords {
    height: 500px;
    width: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#passwords ul {
    padding: 0;
}
#passwords ul li,
.password {
    list-style-type: none;
    font-size: 15px;
    padding: 15px;
    background: #eee;
    margin: 10px;
}

#password-containers ul {
    list-style-type: none;
    border: 1px solid #eee;
    height: 75px;
    width: 200px;
    margin: 10px;
    padding: 0;
}

.password-container-highlight {
    background: #54ff40;
}
.password-container-disabled {
    background: red;
}
.password-drag {
    opacity: 0.7;
}

#button-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
}*/